.contacts {
    width: 25%;
    border-right: 1px solid #E5E6E8;
    padding-top: 1rem;

    h3 {
        margin: 0 0 1rem 1rem;
    }

    &__search {
        position: relative;
        display: flex;
        align-items: center;
        width: 90%;
        margin: auto;
        padding-bottom: 0.5rem;

        div {
            position: absolute;
            left: 0.5rem;
            color: #747A88;
        }

        input {
            padding: 0.5rem 2rem;
            font-family: inherit;
            width: 100%;
            border: 1px solid #DADBDE;
            border-radius: 8px;
        }
    }
}